[
  {
    "target_path": "files/git-prompt.sh",
    "link_path": "{{ home }}/.git-prompt.sh",
    "backup": false
  },
  {
    "target_path": "files/bashrc",
    "link_path": "{{ home }}/.bashrc",
    "backup": false
  },
  {
    "target_path": "files/tmux.conf",
    "link_path": "{{ home }}/.tmux.conf",
    "backup": false
  },
  {
    "target_path": "files/vimrc",
    "link_path": "{{ home }}/.vimrc",
    "backup": false
  },
  {
    "target_path": "files/gitconfig",
    "link_path": "{{ home }}/.gitconfig",
    "backup": false
  }
]
